@import '../../styles/partials/global.scss';
// @import '../../styles/partials/fonts.scss';
@import '../../styles/partials/colors.scss';
@import '../../styles/partials/breakpoints.scss';

.footer__text {
    font-size: 0.67rem;
    color: $secondraryDark;
    background-color: $backgroundLight;
    margin: 0 auto;
    text-align: center;
    vertical-align: center;
    padding: 2.5rem;
    width: stretch;
    position: absolute;
}