@font-face {
  font-family: "TitilliumWeb";
  src: url("../../assets/fonts/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TitilliumWeb";
  src: url("../../assets/fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: bold;
}
*,
*::after,
*::before {
  font-family: "TitilliumWeb";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* media query for mobile */
/* media query for tablet */
/*media query for desktop */
.inventoryList {
  position: absolute;
  background: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0rem 0.125rem 0.3125rem rgba(19, 24, 44, 0.1);
  width: 70%;
  height: 50rem;
  top: 33rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList {
    margin: 0 4% 6.25rem 4%;
    top: 5.9375rem;
  }
}
.inventoryList__main {
  padding: 0.9375rem 0;
  border-bottom: 0.0625rem solid #bdc5d5;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__main {
    display: flex;
    justify-content: space-between;
  }
}
.inventoryList__main:hover {
  background-color: rgba(46, 102, 230, 0.07);
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.9375rem 4%;
  }
}
.inventoryList__title {
  color: #13182c;
  font-weight: 600;
  margin: 0.75rem 0;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__title {
    margin: 0.625rem 0 0 0;
  }
}
.inventoryList__form-container {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__form-container {
    padding-top: 0.375rem;
    width: 53%;
  }
}
@media only screen and (min-width: 1280px) {
  .inventoryList__form-container {
    width: 44%;
  }
}
.inventoryList__form {
  display: flex;
  flex-direction: column;
  padding: 0.9375rem 7%;
  margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__form {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.9375rem 4%;
    margin: 0;
  }
}
.inventoryList__form-sub {
  padding-bottom: 0.3125rem;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__form-sub {
    display: flex;
    height: 2.375rem;
    margin-top: 0.625rem;
  }
}
.inventoryList__search {
  background-image: url("../../assets/icons/search-24px.svg");
  background-repeat: no-repeat;
  background-position: 94%;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  border-radius: 1.25rem;
  padding: 0.4375rem 1rem;
  border: 0.0625rem solid #bdc5d5;
  margin-bottom: 0.9375rem;
}
.inventoryList__search:focus {
  outline: none;
  border: 0.0625rem solid #2e66e5;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__search {
    margin: 0 0.9375rem 0 0;
  }
}
.inventoryList__button {
  background-color: #2e66e5;
  color: #ffffff;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  border-radius: 1.25rem;
  border: none;
  padding: 0 1rem;
  margin-bottom: 0.3125rem;
  height: 2.25rem;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__button {
    height: 2.375rem;
    width: 8.125rem;
  }
}
.inventoryList__button:hover {
  background-color: #13182c;
}
.inventoryList__list-divider {
  border-bottom: 0.0625rem solid #bdc5d5;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__list-divider {
    display: none;
  }
}
.inventoryList__category-box {
  background-color: #f7f8f9;
  width: 100%;
}
.inventoryList__categories {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 0;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__categories {
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    background-color: #f7f8f9;
    margin: 0 4%;
  }
}
.inventoryList__category-title {
  flex: 1;
  text-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__category-title {
    font-weight: 600;
    color: #5c667e;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
  }
}
.inventoryList__parent-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 10.625rem;
  padding: 0 6.5% 0.3125rem 6.5%;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__parent-section {
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 0 4%;
    justify-content: space-between;
  }
}
.inventoryList__text {
  color: #5c667e;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__text {
    width: 5.625rem;
  }
}
.inventoryList__item-container {
  display: flex;
  flex-direction: column;
}
.inventoryList__item-heading {
  line-height: 1rem;
  margin: 0 0 0.3125rem 0;
  font-weight: 600;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__item-heading {
    display: none;
  }
}
.inventoryList__item {
  display: flex;
  height: 1.25rem;
  font-weight: 600;
  line-height: 1.25rem;
  margin: 0;
  color: #2e66e5;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__item {
    width: 9.6875rem;
  }
}
.inventoryList__item-row {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 0;
}
.inventoryList__item-detail {
  flex: 1;
  text-align: center;
}
.inventoryList__actions-detail {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 0.625rem;
}
.inventoryList__category-heading {
  height: 1rem;
  line-height: 1rem;
  margin: 1rem 0 0.3125rem 0;
  font-weight: 600;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__category-heading {
    display: none;
  }
}
.inventoryList__category {
  line-height: 1.25rem;
  margin: 0 0 2.5rem 0;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__category {
    margin: 0;
    width: 6.875rem;
    padding-left: 0.1875rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__category-inventory {
    padding-right: 2.625rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__category-status {
    padding-left: 2.1875rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__category-quantity {
    padding-left: 3.4375rem;
    width: 3.125rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__category-warehouse {
    padding-right: 2.1875rem;
  }
}
.inventoryList__status-heading {
  line-height: 1rem;
  margin: 1rem 0 0.3125rem 0;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__status-heading {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__status-container {
    width: 7.5rem;
  }
}
.inventoryList__status {
  line-height: 1rem;
  text-transform: uppercase;
  font-size: 0.67rem;
  margin: 0;
  color: #158463;
  background: rgba(21, 132, 99, 0.07);
  padding: 0.1875rem 0.25rem;
  border-radius: 1.25rem;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__status {
    width: 60%;
  }
}
.inventoryList__quantity-heading {
  line-height: 1rem;
  margin: 1rem 0 0.3125rem 0;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__quantity-heading {
    display: none;
  }
}
.inventoryList__quantity {
  margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__quantity {
    width: 3.125rem;
    padding-right: 0.3125rem;
  }
}
.inventoryList__warehouse-heading {
  margin: 1rem 0 0.3125rem 0;
  font-weight: 600;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__warehouse-heading {
    display: none;
  }
}
.inventoryList__warehouse {
  margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__warehouse {
    padding-right: 0.9375rem;
  }
}
.inventoryList__action-section-hide {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__action-section-hide {
    display: inline-block;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__action-section-hide-medium {
    display: none;
  }
}
.inventoryList__action-logo-container {
  display: flex;
  justify-content: space-between;
  margin: 0 6.5%;
  padding-bottom: 0.125rem;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__action-logo-container {
    margin: 0;
    padding: 0;
  }
}
.inventoryList__action-heading {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__action-heading {
    display: none;
  }
}
.inventoryList__delete-icon {
  background: none;
  padding-right: 0.3125rem;
}

button {
  border: none;
  background: none;
}/*# sourceMappingURL=InventoryList.css.map */