@import '../../styles/partials/global.scss';
@import '../../styles/partials/colors.scss';
@import '../../styles/partials/breakpoints.scss';

.inventoryList {
  position: absolute;
  background: $primaryLight;
  border-radius: 0.25rem; 
  box-shadow: 0rem 0.125rem 0.3125rem rgba(19, 24, 44, 0.1); 
  width: 70%;
  height: 50rem;
  top: 33rem;
  left: 50%;
  transform: translate(-50%, -50%);
  
  &__title {
    color: $primaryDark;
    font-weight: 600;
    margin: 0.75rem 0; 
  }
 
  &__form {
    display: flex;
    padding: 0.9375rem 7%; 
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 4%; 

    &-container {
        width: 60%;
  }
  }

  &__form-sub {
    padding-bottom: 0.3125rem; 
      display: flex;
      height: 3.5rem; 
      margin-top: 0.625rem; 
      margin-right: 1rem;
      margin-left: 1rem;
      justify-content: flex-end;
    
  }
  &__search {
    background-image: url("../../assets/icons/search-24px.svg");
    background-repeat: no-repeat;
    background-position: 94%;
    width: stretch;
    border-radius: 1.25rem; 
    padding: 0.4375rem 1rem; 
    border: 0.0625rem solid $secondaryLight; 
    margin: 0 0.9375rem 0 0; 
    width: 20rem;
    height: 2.44rem;

    &:focus {
      outline: none;
      border: 0.0625rem solid $primaryMedium; 
    }

  }
  &__button {
    background-color: $primaryMedium;
    color: $primaryLight;
    border-radius: 1.25rem; 
    border: none;
    padding: 0 1rem; 
    margin-bottom: 0.3125rem; 
    width: 8.125rem; 
    height: 2.44rem; 


    &:hover {
      background-color: $primaryDark;
    }
  }
  &__list-divider {
    border-bottom: 0.0625rem solid $secondaryLight; 
    display: none;
  }
  &__category-box {
    background-color: $backgroundLight;
    width: 100%;
  }
  &__categories {
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 0; 
    margin-left: 3rem;
    @include medium {
      display: flex;
      justify-content: space-between;
      height: 2.5rem; 
      background-color: $backgroundLight;
      margin: 0 4%;
    }
  }
  
  &__category-title {
    flex: 1;
    text-align: center;
    font-weight: 600;
      color: $secondraryDark;
      margin: 0.5rem 0; 
      display: flex;
      align-items: left;
    
  }
  &__item {
    display: flex;
    height: 1.25rem; 
    font-weight: 600;
    line-height: 1.25rem; 
    margin: 0;
    color: $primaryMedium;
    
    &-containet
    &:hover, &-row:hover {
      background-color: $backgroundLight;
      border-bottom: 0.05rem solid $secondaryLight;
      margin:0;
      padding-left: 3rem;
  }
    &-row {
        display: flex;
        justify-content: space-between;
        padding: 0.625rem 0; 
        margin-left: 3rem;
      }
    &-detail{
    flex: 1;
    text-align: left;
    a {
      text-decoration: none; 
      font-weight: 600;
      color: $primaryMedium; 
  }
  img {
    bottom: -0.4rem;
    position: relative;
  }

  }
  }
  &__actions-detail{
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: left;
    gap: 0.625rem; 
  }
  
  &__item-detail-status {
    line-height: 0.3rem; 
    text-transform: uppercase; 
    margin: 0;
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;

    &--in-stock {
    color: $inStock;
    background: rgba(21, 132, 99, 0.07);
    padding: 0.8rem 0;
    border-radius: 1.25rem; 
    max-width: 6rem;
    }
   
    &--out-of-stock {
      background: rgba(255, 0, 0, 0.07); 
      color: $outOfStock;
      padding: 0.9rem 0; 
      border-radius: 1.25rem; 
      max-width: 7rem;
  }

  }

}

button {
  border: none;
  background: none;
}

