@font-face {
  font-family: "TitilliumWeb";
  src: url("../../assets/fonts/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TitilliumWeb";
  src: url("../../assets/fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: bold;
}
*,
*::after,
*::before {
  font-family: "TitilliumWeb";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* media query for mobile */
/* media query for tablet */
/*media query for desktop */
.inventoryList {
  position: absolute;
  background: #ffffff;
  border-radius: 0.25rem;
  box-shadow: 0rem 0.125rem 0.3125rem rgba(19, 24, 44, 0.1);
  width: 70%;
  height: 50rem;
  top: 33rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inventoryList__title {
  color: #13182c;
  font-weight: 600;
  margin: 0.75rem 0;
}
.inventoryList__form {
  display: flex;
  padding: 0.9375rem 7%;
  margin: 0;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 4%;
}
.inventoryList__form-container {
  width: 60%;
}
.inventoryList__form-sub {
  padding-bottom: 0.3125rem;
  display: flex;
  height: 3.5rem;
  margin-top: 0.625rem;
  margin-right: 1rem;
  margin-left: 1rem;
  justify-content: flex-end;
}
.inventoryList__search {
  background-image: url("../../assets/icons/search-24px.svg");
  background-repeat: no-repeat;
  background-position: 94%;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  border-radius: 1.25rem;
  padding: 0.4375rem 1rem;
  border: 0.0625rem solid #bdc5d5;
  margin: 0 0.9375rem 0 0;
  width: 20rem;
  height: 2.44rem;
}
.inventoryList__search:focus {
  outline: none;
  border: 0.0625rem solid #2e66e5;
}
.inventoryList__button {
  background-color: #2e66e5;
  color: #ffffff;
  border-radius: 1.25rem;
  border: none;
  padding: 0 1rem;
  margin-bottom: 0.3125rem;
  width: 8.125rem;
  height: 2.44rem;
}
.inventoryList__button:hover {
  background-color: #13182c;
}
.inventoryList__list-divider {
  border-bottom: 0.0625rem solid #bdc5d5;
  display: none;
}
.inventoryList__category-box {
  background-color: #f7f8f9;
  width: 100%;
}
.inventoryList__categories {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 0;
  margin-left: 3rem;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .inventoryList__categories {
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    background-color: #f7f8f9;
    margin: 0 4%;
  }
}
.inventoryList__category-title {
  flex: 1;
  text-align: center;
  font-weight: 600;
  color: #5c667e;
  margin: 0.5rem 0;
  display: flex;
  align-items: left;
}
.inventoryList__item {
  display: flex;
  height: 1.25rem;
  font-weight: 600;
  line-height: 1.25rem;
  margin: 0;
  color: #2e66e5;
}
.inventoryList__item-containet .inventoryList__item:hover, .inventoryList__item-row:hover {
  background-color: #f7f8f9;
  border-bottom: 0.05rem solid #bdc5d5;
  margin: 0;
  padding-left: 3rem;
}
.inventoryList__item-row {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 0;
  margin-left: 3rem;
}
.inventoryList__item-detail {
  flex: 1;
  text-align: left;
}
.inventoryList__item-detail a {
  text-decoration: none;
  font-weight: 600;
  color: #2e66e5;
}
.inventoryList__item-detail img {
  bottom: -0.4rem;
  position: relative;
}
.inventoryList__actions-detail {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: left;
  gap: 0.625rem;
}
.inventoryList__item-detail-status {
  line-height: 0.3rem;
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
}
.inventoryList__item-detail-status--in-stock {
  color: #158463;
  background: rgba(21, 132, 99, 0.07);
  padding: 0.8rem 0;
  border-radius: 1.25rem;
  max-width: 6rem;
}
.inventoryList__item-detail-status--out-of-stock {
  background: rgba(255, 0, 0, 0.07);
  color: #c94515;
  padding: 0.9rem 0;
  border-radius: 1.25rem;
  max-width: 7rem;
}

button {
  border: none;
  background: none;
}/*# sourceMappingURL=InventoryList.css.map */