@import '../../styles/partials/breakpoints';
@import '../../styles/partials/colors';

.header{
    background-color: $backgroundDark;
    color: $primaryLight;
    padding: 32px;
  
    @include medium {
        display: flex;
        align-items: center;
    }

    @include large {
        display: flex;
        align-items: center;
    }

    &__logo{
        @include small{
            margin-bottom: 24px;
        }

        img{
            @include small{
                display: block;
                margin: 0 auto;
            }
        }
    }

    &__links{
        display: flex;
        align-items: center;

        @include medium{
            margin-left: auto;
        }

        @include large{
            margin-left: auto;
        }

        &--link{
            color: $primaryLight;
            text-decoration: none;
            display: block;
            text-align: center;

            &:hover{
                text-decoration: underline;
            }

            &:not(:last-child){
                margin-right: 24px;
            }

            &.active{
                background-color: $primaryDark;
                padding: 8px 16px;
                border-radius: 24px;
            }

            @include small{
                width: 50%;
            }
        }
    }
}